*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;   /* vertically center items */
    background-color: black;
    padding: 0px 20px;
    height: 4.5vw;
}

#title img{
    width: 150px;          /* adjust size */
    height: auto;
    position: static;      /* remove absolute */
    display: block;
}

ul{
    display: flex;
    align-items: center;
    /* list-style: none; */
}

li{
    padding: 0 20px;
}

a{
    text-decoration: none;
    color: white;
}

nav li:not(:last-child) a:hover{
    color: red;
    text-decoration: underline;
    text-underline-offset: 5px;
}

nav li:last-child a{
    background: red;
    padding: 6px 12px;
    border-radius: 5px;
}

nav li:last-child a:hover{
    color: black;
}

.btn-nav{
    display: none;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background: none;
    color: white;
}


table{
    width: 70%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    margin-top: 20px;
    box-shadow: 2px 2px 1px 1px #f1f1f1 ;
}

thead{
    background-color: #f80202;
    color: #fff;
}

th,td{
    padding: 15px;
    text-align: center;
}

tbody tr{
    border-bottom: 1px solid #ddd;
}

.item{
    display: flex;
    align-items: center;
    gap: 15px;
}

.item img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}

.remove{
    background: red;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
}

.grand-total{
    font-size: 18px;
}

.grand-total button{
    height: 40px;
    width: 80px;
    border: none;
    color: white;
    background-color: #f80202;
    border-radius: 10px;
}

.btn{
    background: red;
    color: black;
    border: none;
    height: 20px;
    width: 15px;
    box-shadow: 2px 2px 1px 1px #f1f1f1 ;
    border-radius: 5px;
    /* padding: 10px 10px; */
    /* display: inline-block; */
    /* align-items: center;  */
}
    

button{
    text-decoration: none;
    border: none;
    background-color: #fff;
}


 @media (max-width:700px) {
    .btn-nav {
        display: initial;
    }  
   
    ul{

        display:none;

        flex-direction:column;

        position:absolute;

        top:29px;

        /* left:-50px; */

        width:100%;

        background:#000;

        text-align:center;

    }

    li{
        border-bottom: 1px solid white;
        width: 90%;
    }
   

    nav ul.show {

        display:flex;

    }

    nav ul li{

        padding:15px;

    }

} 

